@inherits LayoutComponentBase

<AuthorizeView Roles="@Constants.Roles.User">
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <UserMenu></UserMenu>
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <LoginDisplay></LoginDisplay>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        You are not Authorized to access this content.
        <a href="/">Go Back To Home Page</a>
    </NotAuthorized>
</AuthorizeView>
