<div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseAction"></button>
            </div>
            <div class="modal-body">
                @BodyContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="CloseAction">Close</button>
                <button type="button" class="btn btn-primary" @onclick="OkAction">@OkText</button>
            </div>
        </div>
    </div>
</div>