<div class="card">
    @Image
    <div class="card-body">
        <h5 class="card-title">@CardTitle</h5>
        <p class="card-text">@CardBodyText</p>
    </div>
    <div class="card-footer">
        @if (this.EnableDelete)
        {
            <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                    @onclick="@DeleteAction">
                <i class="bi bi-trash-fill"></i>
            </button>
        }
        @if (this.EnableEdit)
        {
            <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                    @onclick="@EditAction">
                <i class="bi bi-pencil-fill"></i>
            </button>
        }
    </div>
</div>