@layout AdminLayout

<h3>List Images</h3>
<LoadingComponent IsLoading="IsLoading"></LoadingComponent>
@if (AllImages != null)
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var singleImage in this.AllImages)
        {
            <div class="col">
                <div class="card">
                    <img src="@singleImage.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@singleImage.ImageName</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                                @onclick="@( ()=> ShowConfirmDeleteDialog(singleImage))">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (this.ShouldShowConfirmDeleteModal)
{
    <ConfirmComponent CloseAction="HideConfirmDeleteDialog" OkText="Delete" Title="Delete Image" 
                      OkAction="@(async () => await DeleteSelectedImage())" CloseText="Cancel">
        <BodyContent>
            <p>Are you sure you want to delete the selected Image?</p>
        </BodyContent>
    </ConfirmComponent>
}