@page "/Admin/Images/Manage"
@layout AdminLayout

<h3>Manage Image</h3>

<EditForm Model="@ImageUploadModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="mb-3">
        <label class="form-label alert-warning">@ErrorMessage</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(ImageUploadModel.Name)</label>
        <InputText class="form-control"
                   placeholder="Type your desired name for the image"
                   @bind-Value="@ImageUploadModel.Name"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Select File</label>
        <InputFile form-control OnChange="OnFileSelectionChangeAsync" accept="image/jpg"></InputFile>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
<LoadingComponent IsLoading="IsLoading"></LoadingComponent>