@page "/"

<h2>Promos</h2>
<LoadingComponent IsLoading="@IsLoading"></LoadingComponent>
@if (this.AllPromotions != null)
{
    for (int iPage = 0; iPage < this.TotalPages; iPage++)
    {
        var pageItems = this.AllPromotions.Skip(iPage * 2).Take(2);
        <div class="card-group">
            @foreach (var singlePageItem in pageItems)
            {
                <PromoCard CardTitle="@singlePageItem.Name"
                           CardBodyText="@singlePageItem.Description">
                    <Image>
                        <img src="@singlePageItem.ImageUrl" class="card-img-top" alt="..." style="height:300px;">
                    </Image>
                </PromoCard>
            }
        </div>
    }
}